{% extends "auctions/layout.html" %}

{% block body %}
  <div class="card mb-3" style="max-width: 1200px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ listing.title }}</h5>
          <ul class="list-group list-group-flush">
            <p class="card-text">{{ listing.description }}</p>
            <li class="list-group-item"><span class="badge bg-primary">Seller:</span> {{ listing.seller }}</li>
            <li class="list-group-item"><span class="badge bg-info text-dark">Starting Price:</span> To be added</li>
            <li class="list-group-item"><span class="badge bg-success">Current Bid:</span> ${{ listing.current_bid }}</li>
          </ul>
          <div class="card-body">
            <a href="{% url 'category' listing.category %}" class="card-link">View "{{ listing.category }}" listings</a>
          </div>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  <br>
    {% if listing.active %}
        {% if listing.seller != bidder %}
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                {{ form }}
            <input type="submit" name="form" >
            </form>
            {% if watchlist == False %}
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    <br>
                    <input type="submit" value="Add to Watchlist" name="watchlist">
                </form>
            {% else %}
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    <br>
                    <input type="submit" value="Remove from Watchlist" name="remove-watchlist">
                </form>
            {% endif %}
            <div>{{ message }}</div>
        {% else %}
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                <br>
                <input type="submit" value="Close Auction" name= "close">
            </form>
        {% endif %}
    {% else %}
        {% if exists %}
            {% for bid in bids %}
                {% if bid.bidder == bidder %}
                    <h2>You won the auction!</h2>
                {% else %}
                    <h2>Auction Closed.</h2>
                {% endif %}
            {% endfor %}
        {% else %}
            <h2>Auction Closed.</h2>
        {% endif %}
    {% endif %}
    <div>
        {% if comments != False %}
        <br>
        <h2>Comments:</h2>
        <br>
            {% for comment in comments %}
            <li> {{ comment }}</li>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}