{% extends "auctions/layout.html" %}

{% block body %}
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if listing.img.url %}
            <img src="{{ listing.img.url }}" class="img-fluid rounded-start">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ listing.title }}</h5>
          <ul class="list-group list-group-flush">
            <p class="card-text">{{ listing.description }}</p>
            <li class="list-group-item"><span class="badge bg-primary">Seller:</span> {{ listing.seller }}</li>
            <li class="list-group-item"><span class="badge bg-info text-dark">Starting Price:</span> ${{ listing.starting_price }}</li>
            {% if listing.current_bid != None %}
                <li class="list-group-item"><span class="badge bg-success">Current Bid:</span> ${{ listing.current_bid }}</li>
            {% else %}
                <li class="list-group-item"><span class="badge bg-success">Current Bid:</span> No Bids.</li>
            {% endif %}
          </ul>
          <div class="card-body">
            <a href="{% url 'category' listing.category %}" class="card-link">View listings in "{{ listing.category }}" category</a>
          </div>
          <p class="card-text"><small class="text-muted">Date posted: {{ listing.datetime }}</small></p>
        </div>
      </div>
    </div>
  </div>
  <br>
    {% if listing.active %}
        {% if listing.seller != bidder %}
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                {{ bid_action }}
            <input type="submit" name="bid" >
            </form>
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                {{ comment_action }}
            <input type="submit" name="comment_action">
            </form>
            {% if watchlist == False %}
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    <br>
                    <input type="submit" value="Add to Watchlist" name="watchlist">
                </form>
            {% else %}
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    <br>
                    <input type="submit" value="Remove from Watchlist" name="remove-watchlist">
                </form>
            {% endif %}
            <div>{{ message }}</div>
        {% else %}
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                <br>
                <input type="submit" value="Close Auction" name= "close">
            </form>
        {% endif %}
    {% else %}
        {% if exists %}
            {% for bid in bids %}
                {% if bid.bidder == bidder %}
                    <h2>You won the auction!</h2>
                {% else %}
                    <h2>Auction Closed.</h2>
                {% endif %}
            {% endfor %}
        {% else %}
            <h2>Auction Closed.</h2>
        {% endif %}
    {% endif %}
    <div>
        {% if comments != False %}
        <br>
        <h2>Comments:</h2>
        <br>
            {% for comment in comments %}
            <div class="card" style="width: 40rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>{{ comment.commenter }}: </b>{{ comment.comment }}</li>
                </ul>
            </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

<div class="card" style="width: rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ comment }}</li>
    </ul>
</div>