{% extends "auctions/layout.html" %}

{% block body %}

<div class="list-group list-group-horizontal">
    <a href="{% url 'index' %}" class="list-group-item list-group-item-action">All</a>
    {% for caps, lower in categories %}
        {% if caps == category %}
            <a href="{% url 'category' caps %}" class="list-group-item list-group-item-action active">{{ lower }}</a>
        {% else %}
            <a href="{% url 'category' caps %}" class="list-group-item list-group-item-action">{{ lower }}</a>
        {% endif %}
    {% endfor %}
</div>
<br>
<div class="row row-cols-1 row-cols-md-3">
    {% for listing in listings %}
    {% if listing.active %}
        <div class="col mb-4">
            <div class="card">
                {% if listing.img %}
                    <img src="{{ listing.img.url }}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                {% if listing.current_bid != None %}
                    <h6 class="card-subtitle mb-2 text-muted">Current Price: ${{ listing.current_bid }}</h6>
                {% else %}
                    <h6 class="card-subtitle mb-2 text-muted">Starting Price: ${{ listing.starting_price }}</h6>
                {% endif %}
                <p class="card-text">{{ listing.description }}</p>
                {% if user.is_authenticated %}
                    <a href="{% url 'listing' listing.id %}" class="card-link">View Listing</a>
                {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    {% empty %}
        <div>No listings in this category.</div>
    {% endfor %}
</div>
{% endblock %}
