{% extends "auctions/layout.html" %}

{% block body %}

<div class="list-group list-group-horizontal">
    <a href="{% url 'index' %}" class="list-group-item list-group-item-action active">All</a>
    <a href="{% url 'category' 'Technology' %}" class="list-group-item list-group-item-action">Technology</a>
    <a href="{% url 'category' 'Fashion' %}" class="list-group-item list-group-item-action">Fashion</a>
    <a href="{% url 'category' 'Sports' %}" class="list-group-item list-group-item-action">Sports</a>
    <a href="{% url 'category' 'Toys' %}" class="list-group-item list-group-item-action">Toys</a>
    <a href="{% url 'category' 'Books' %}" class="list-group-item list-group-item-action">Books</a>
    <a href="{% url 'category' 'Music' %}" class="list-group-item list-group-item-action">Music</a>
    <a href="{% url 'category' 'Other' %}" class="list-group-item list-group-item-action">Other</a>
</div>
    <br>
    <div class="row row-cols-1 row-cols-md-3">
    {% for listing in listings %}
        {% if listing.active %}
            <div class="col mb-4">
              <div class="card">
                {% if listing.img %}
                    <img src= "{{ listing.img }}" height= "350" width="50" class="card-img-top">
                {% endif %}
                    <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    {% if listing.current_bid != None %}
                        <h6 class="card-subtitle mb-2 text-muted">Current Price: ${{ listing.current_bid }}</h6>
                    {% else %}
                        <h6 class="card-subtitle mb-2 text-muted">Starting Price: ${{ listing.starting_price }}</h6>
                    {% endif %}
                    <p class="card-text">{{ listing.description }}</p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'listing' listing.id %}" class="card-link">View Listing</a>
                    {% endif %}
                    </div>
              </div>
            </div>
        {% endif %}
    {% empty %}
        <li>No Listings.</li>
    {% endfor %}
    </div>
{% endblock %}
    
  
